
<div class="visibleContainer">

    <div class="container mt-5 ">
        <h2 class="text-center">Ajouter une Voiture</h2>
        <form [formGroup]="vehiculeForm" (ngSubmit)="ajouterVoiture()">
            <div class="form-group">
                <label for="model">Modèle</label>
                <input type="text" class="form-control" formControlName="model" placeholder="Exemple: Tesla Model S">
                <div *ngIf="isModelVide()" class="alert alert-danger">
                    Le modèle est obligatoire
                </div>
            </div>
            <div class="form-group">
                <label for="model">Matricule</label>
                <input type="text" class="form-control" formControlName="registration_number" placeholder="Exemple: Tesla Model S">
                <div *ngIf="isMatriculeVide()" class="alert alert-danger">
                    Le matricule est obligatoire
                </div>
            </div>
            <div class="form-group">
               

                <div class="form-group">
                    <label for="photo">Photo</label>
                    <input type="file" class="form-control" (change)="onFileSelected($event)">
                   
                    <div *ngIf="isPhotoVide()" class="alert alert-danger">
                        La photo est obligatoire
                    </div>
                </div>
                
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" formControlName="description"
                    placeholder="Description de la voiture"></textarea>
                <div *ngIf="isDescriptionVide()" class="alert alert-danger">
                    La description est obligatoire
                </div>
            </div>
            <div class="form-group">
                <label for="seats">Nombre de place</label>
                <input type="number" class="form-control" formControlName="seats">
                <div *ngIf="isValidSeats()" class="alert alert-danger">
                    Le nombre de sièges doit être entre 1 et 7
                </div>
            </div>
            <div class="form-group">
                <label for="rent">Prix de location (DT par jour)</label>
                <input type="number" class="form-control" formControlName="rent">
                <div *ngIf="isValidRent()" class="alert alert-danger">
                    Le prix de location doit être supérieur à 0
                </div>
            </div>
            <button type="submit" class="btn btn-primary" >Confirm</button>
            <button type="button" class="btn btn-secondary" (click)="vehiculeForm.reset()">
                <i class="fa-solid fa-trash"></i>
                Reset 
            </button>
        </form>
    </div>
</div>