<footer>
    <div class="footer-left">
        <img src="assets/Carpools.png" alt="Logo">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
             Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
              when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
             but also the leap into electronic typesetting, remaining essentially unchanged</p>
        <div class="socials">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
        </div>
    </div>
    <ul class="footer-right">
       
        <li class="features">
            <h2>Caractéristiques
            </h2>
            <ul class="box">
                <li><a href="#">Caractéristique 1</a></li>
                <li><a href="#">Caractéristique 2</a></li>
                <li><a href="#">Caractéristique 3</a></li>
                <li><a href="#">Caractéristique 4</a></li>
            </ul>
        </li>
        <li>
            <h2>Addresse</h2>
            <ul class="box">
                <li><a href="#">123 Main St.</a></li>
                <li><a href="#">Ville, Pays</a></li>
                <li><a href="#">Email: infoexample.com</a></li>
                <li><a href="#">Telephone: +123456789</a></li>
            </ul>
        </li>
    </ul>
</footer>
