<div class="container">
    <!-- Section des paramètres du compte -->
    <div class="settings" *ngIf="showSettingsForm">
        <h3>Account Settings</h3>
        <div class="scrollable">
            <form action="#">
                <label for="name">Full Name</label>
                <div class="input-container">
                    <input type="text" id="name" name="name" 
                        [value]="userData.first_name + ' ' + userData.name" 
                        placeholder="Firstname & Lastname" disabled>
                    <a class="modify-link" (click)="showEditForm()">Edit</a>
                </div>

                <label for="username">Username</label>
                <div class="input-container">
                    <input type="text" id="username" name="username" 
                        placeholder="Username" [value]="userData.username" disabled>
                    <a class="modify-link" (click)="showEditForm()">Edit</a>
                </div>

                

                <label for="phone_number">Phone Number</label>
                <div class="input-container">
                    <input type="tel" id="phone_number" name="phone_number" 
                        placeholder="Phone Number" [value]="userData.phone_number" disabled>
                    <a class="modify-link" (click)="showEditForm()">Edit</a>
                </div>

                <label for="site">Location</label>
                <div class="input-container">
                    <input type="text" id="site" name="site" [value]="userData.city" disabled>
                    <a class="modify-link" (click)="showEditForm()">Edit</a>
                </div>
            </form>
        </div>
    </div>
  <!-- Formulaire d'édition -->
  <div class="settings" *ngIf="!showSettingsForm">
    <h3>Edit Account Settings</h3>
    <div class="scrollable">
        <form (ngSubmit)="saveupdate()">
            <label for="name">Full Name</label>
            <div class="input-container">
                <!-- Deux champs distincts pour le prénom et nom -->
                <input type="text" id="name" name="name" placeholder="Last Name" >
                <input type="text" id="firstname" name="firstname" placeholder="First Name" >
            </div>

            <label for="username">Username</label>
            <div class="input-container">
                <input type="text" id="username" name="username" placeholder="Username" >
            </div>

            <label for="phone_number">Phone Number</label>
            <div class="input-container">
                <input type="tel" id="phone_number" name="phone_number" placeholder="Phone Number" >
            </div>

            <label for="site">Location</label>
            <div class="input-container">
                <input type="text" id="site" name="site" >
            </div>

            <label>Are you a smoker?</label>
            <div class="input-container">
                <input type="checkbox" id="smoker" >
            </div>

            <button type="submit">Save</button>
            <button type="button" (click)="showSettingsForm = true">Cancel</button>
        </form>
    </div>
</div>
    <!-- Image div -->
    <div class="image">
        <img src="/assets/parametre.png" alt="Illustration">
    </div>
</div>

<!-- Formulaire de réinitialisation du mot de passe -->
<div class="passwordcontainer">
    <h3>Reset Password</h3>
    <form #passwordForm="ngForm" >
        <input type="password" placeholder="Old Password" required name="oldPassword" ngModel>
        <div *ngIf="passwordForm.controls['oldPassword']?.invalid && passwordForm.controls['oldPassword']?.touched">
            <p class="error">Old password is required.</p>
        </div>

        <input type="password" placeholder="New Password" required name="newPassword" ngModel>
        <div *ngIf="passwordForm.controls['newPassword']?.invalid && passwordForm.controls['newPassword']?.touched">
            <p class="error">New password is required</p>
        </div>

        <input type="password" placeholder="Confirm New Password" required name="confirmPassword" ngModel>
        <div *ngIf="passwordForm.controls['confirmPassword']?.invalid && passwordForm.controls['confirmPassword']?.touched">
            <p class="error">Confirm password is required.</p>
        </div>

        <div *ngIf="passwordForm.controls['confirmPassword']?.value !== passwordForm.controls['newPassword']?.value && passwordForm.controls['confirmPassword']?.touched">
            <p class="error">Passwords do not match.</p>
        </div>

        <label>Are you sure?</label>
        <input type="checkbox" required name="confirmChangePassword" ngModel>
        <button type="submit" [disabled]="passwordForm.invalid">Reset</button>
    </form>
</div>
