<div class="container-fluid">
    <!-- Filter bar across the full width of the page -->
    <form [formGroup]="filtreForm" (ngSubmit)="filtrer()">
        <div class="search-container">
            <!-- Tab Buttons -->
            <p class="tab-button active">Vehicles</p>

            <!-- Price Input -->
            <div class="input-group">
               <span> <label for="priceRange">Price per Day</label><input type="range" formControlName="price" class="input-field" id="priceRange" min="0" max="300"><span>{{ price }} DT</span></span>

            </div>

            <!-- Date Input -->
            <div class="date-time">
               <span><label for="date">Available Date</label><input type="date" class="form-control" formControlName="rental_date" id="date"></span> 
            </div>

            <!-- Search Button -->
            <button type="submit" class="search-button" [disabled]="filtreForm.invalid">See Vehicles</button>
            <button type="reset" (click)="filtreForm.reset()" class="search-button">
                <i class="fas fa-trash"></i> Reset
            </button>
        </div>
    </form>

    <div class="container main-container">
        <div>
            <!-- Main content -->
            <div>
                <div>
                    <div *ngFor="let i of offerLocations">
                        <div class="container">
                            <div class="card">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img [src]="i.vehicle.photo" class="img-fluid rounded-start" alt="Model Image">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Model: {{i.vehicle.model}}</h5>
                                            <p class="card-text">Phone number: {{i.vehicle.user.phone_number}}</p>
                                        </div>
                                        <button>Details</button>
                                        <button>Rent</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
