<div class="welcome-hero">
    <div class="  container">
        <div class="welcome-hero-txt">
            <h2>get your desired car in resonable price</h2>
            <p>
                Welcome to our platform – your go-to solution for car rentals and carpooling! 
                Whether you're looking to rent a car for your personal journey or join 
                a carpool to save on travel costs, we've got you covered. Our site offers a 
                wide selection of vehicles to suit any need and an easy way to connect with others for shared rides.
            </p>
        </div>
    </div>
</div>