<header>
    <nav class="nav-bar">
        <div class="logo-container">
            <img class="logo" src="assets/Carpools.png" alt="">
            <a class="nav-link" routerLink="/">Accueil</a>
            <a class="nav-link"routerLink="/trajet">Offre Covoiturage</a>
            <a class="nav-link" routerLink="/location">Offre location</a>
        </div>

        <div class="links-container">

            <button type="submit" class="btn btn-primary">Login</button>
        </div>
        
    </nav>
</header>


<router-outlet></router-outlet>