body {
    margin: 0;
    font-family: Nunito, sans-serif;
}

/* Navbar */
.nav-bar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #011c39;
    border-bottom: 2px solid white;
    color: white;
    padding: 0 20px;
    font-family: Nunito, sans-serif;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 120px;
    height: 100px;
    margin-right: 20px;
}

.nav-link {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: rgb(9, 103, 192);
}

/* User Info */
.user-info-container {
    display: flex;
    align-items: center;
}

.profile-menu {
    position: relative;
}

/* Dropdown Button */
.profile-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #0b4685;
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.profile-button:hover {
    background-color: #08386b;
}

/* Dropdown Menu */
.dropdown-content {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: white;
    min-width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    z-index: 1000;
}

p {
    color: black;
    font-size: 15px;
    padding: 0 18px;
    margin-top: 5px;
    font-family: Nunito, sans-serif;
}

.user-email {
    display: flex;
    align-items: center;
    font-family: Merriweather, sans-serif;
    font-size: 13px;
    color: black;
}

.online-status {
    margin-right: 8px; 
    width: 12px;
    height: 12px;
    background-color: #4CAF50; 
    border: 2px solid white;
    border-radius: 50%;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: #dfe5e6;
}

.logout {
    text-align: center;
    padding: 10px;
    color: black;
    border: 1px solid #676767;
    margin: 18px;
}

.logout:hover {
    background-color: #e0e0e0;
}


.dropdown:hover .dropdown-content {
    display: block;
}

/* Buttons */
.btn-primary {
    background-color: #011c39;
    border-color: gray;
    transition: background-color 0.3s ease;
    padding: 10px 20px;
}

.btn-primary:hover {
    background-color: #022a55;
    border-color: rgb(107, 107, 107);
}
