<div class="full-Container">
  <div [ngClass]="{'active': isActive}" class="container" id="container">
    
    <!-- Sign-Up Form -->
    <div class="form-container sign-up">
      <form>
        <h1>Créer Un Compte</h1>
        <div class="social-icons">
          <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
          <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
          <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
        <span>or use your email for registration</span>
        <input type="text" placeholder="Nom">
        <input type="text" placeholder="Prenom">
        <input type="text" placeholder="Nom Utilisateur">
        <input type="email" placeholder="Email">
        <input type="text" placeholder="Telephone">
        <input type="text" placeholder="Ville">
        <input type="date">
        <div class="radio-checkbox">
        <div class="gender">
            <input type="radio" name="gender" id="femme" value="f"><label for="">Femme</label>
            <input type="radio" name="gender" id="Homme" value="m"><label for="">Homme</label>
            <div class="Fumeur">
                <input type="checkbox"><label for="">Fumeur</label>
            </div>
        </div>
        </div>
        <input type="password" placeholder="Password">
        <button>S'inscrire</button>
      </form>
    </div>
    
    <!-- Login Form -->
    <div class="form-container sign-in">
      <form>
        <h1>Se Connecter</h1>
        <div class="social-icons">
          <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
          <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
          <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
        <span>ou utilisez votre mot de passe de messagerie</span>
        <input type="email" placeholder="Email">
        <input type="password" placeholder="Password">
        <a href="#">Mot de passe oublier ?</a>
        <button>Se connecter</button>
      </form>
    </div>
    
    <div class="toggle-container">
      <div class="toggle">
        
        <div class="toggle-panel toggle-left">
          <img src="assets/Carpools.png" alt="">
          <h1>Bienvenue!</h1>
          <p>Entrez vos informations personnelles pour utiliser toutes les fonctionnalités du site</p>
          <button class="hidden" (click)="toggle(false)">Se connecter</button>
        </div>
        
        <div class="toggle-panel toggle-right">
          <img src="assets/Carpools.png" alt="">
          <h1>Bonjour, Amis!</h1>
          <p>Register with your personal details to use all of the site features</p>
          <button class="hidden" (click)="toggle(true)">S'inscrire</button>
        </div>
        
      </div>
    </div>
  </div>
</div>
