
.card-custom {
    max-width: 400px;
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.card-header-custom {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}
.card-body-custom {
    padding: 15px;
}
.card-footer-custom {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
}
.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}
.info {
    margin-bottom: 10px;
    text-align: left;
    padding: 0 }
.header { display: flex; justify-content: space-between; align-items: center; } 
.btn-success a { color: white; text-decoration: none; } 
.btn-success a:hover { color: white; }