<div class="container">
    <div class="promo-box">
        <img src="/assets/carowner.png" alt="Car Rental for Businesses">
        <div class="promo-content">
            <h2 class="discount"> ARE YOU<br>A CAR </h2>
            <p>OWNER</p>
            <p class="small-text">WHAT ARE U WAITING FOR ?</p>
            <button class="promo-button" routerLink="/location/ajouter">Register now</button>
        </div>
    </div>

    <div class="promo-box">
        <img src="assets/forrentall.jpg.png" alt="Long-term Car Rental">
        <div class="promo-content">
            <h2 class="discount">LOOKING<br>TO RENT  </h2>
            <p>A RELIABLE CAR </p>
            <p class="small-text">SHORT OR LONG-TERM OPTIONS WELCOME</p>
            <button class="promo-button" routerLink="/location">You can rental NOW !</button>
        </div>
    </div>
</div>